body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111;
    color: #fff;
}

.container {
    max-width: 1200px; /* Increase the max-width to accommodate both tables side by side */
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    border-radius: 8px;
    box-shadow: 0 0 100px rgba(255, 255, 255, 0.1);
}

#title,
#houseToPlanetTitle {
    font-size: 24px;
    font-weight: bold;
    text-align: center;
    margin-bottom: 20px;
    color: #ddd;
}

.tables-container {
    display: flex;
    justify-content: space-between;
    gap: 20px;
}

.table {
    width: 48%; /* Adjust the width of each table as needed */
}

#hitTable, #houseToPlanetTable {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
}

#hitTable th, #hitTable td, #houseToPlanetTable th, #houseToPlanetTable td {
    border: 1px solid #333;
    padding: 10px;
    text-align: center;
}

#hitTable th, #houseToPlanetTable th {
    background-color: #222;
    color: #ddd;
}

input[type="text"] {
    width: calc(100% - 16px);
    padding: 8px;
    margin-bottom: 20px;
    background-color: #333;
    color: #fff;
    border: 1px solid #555;
}

input[type="text"]:focus {
    box-shadow: 0 0 80px rgba(255, 255, 0, 0.8);
}

button {
    background-color: #cc8500;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #d178e7;
}
